body{
    background-color: orange;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-size: 100px;
    margin: auto;
}
h2{
    font-size: 40px;
    margin: auto;
}
p{
    margin: auto;
    font-size: 16px;
}
#flexbox{
    padding:10px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    text-align: center;
    display: flex;
}
a{
    color: yellow;
    font-size: 16px;
}
a:hover{
    color: #ff0000;
    border-color: #ff0000;
    border-width: 2px;
    border-style: dashed;
}
li{
    color: black;
    margin: auto;
    list-style: none;
    text-align: center;
  
}
div.col {
    margin: auto;
    padding: 5%;
    position: center;
    border: 1px solid rgb orange;
    margin: 2px;
    border-radius:10px;
}
footer{
    width: 40vw;
    margin: auto;
    text-align: center;
}