@import url("https://use.typekit.net/hfi1kak.css");

:root {
  --bgc-01: hsl(213, 45%, 60%);
  --bgc-02: hsl(0, 0%, 02%);
  --txt-01: #ffff;
  --txt-02: #D6BC78;
}

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

body {
  background-color: var(--bgc-01);
  color: var(--txt-01);
  font-family: "Segoe UI", Black;
  line-height: 1;
}

/* header vormgeving */

header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  background-color: black;
  padding: 1rem;
  color: var(--txt-02);
}

header nav li {
  display: inline-block;
}

header img {
  width: 5rem;
}

header .logo {
  justify-self: center;
}

h2 {
  padding-top: 2rem;
  margin-bottom: 2rem;
  text-transform: uppercase;
  text-align: center;
}

p {
  font-weight: 600;
}

a {
  text-decoration: none;
  margin: 10px;
  color: #D6BC78;
}

header {
  padding: 1rem;
}

header h1 {
  display: inline-block;
  margin-left: 0.2ch;
  font-weight: 600;
}

header nav {
  justify-self: end;
  align-self: center;
}

nav a:hover {
  color: white;
}

/* main vormgeving */

main {
  font-family: "Segoe UI", Black;
}

#line-up {
  background-image: url(static/achtergrond.png);
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  margin-left: 85px;
  margin-right: 50px;
}

#act {
  background-color: black;
  padding-top: 50px;
}

#act img{
  width: 100%;
}

#act .grid-container {
  background-color: #0E5554;
  grid-template-columns: 2fr 0.4fr 2fr;
  padding: 50px;
}

#act .social-icon i {
  justify-content: flex-end;
  color: hsl(43, 53%, 65%);
}

#act .social-icon:hover i {
  transform: scale(1.3);
}

.social-icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60%;
  margin-left: 105%;
}

#act .social-icon {
  margin-bottom: 30px;
}

#act h1 {
  margin-left: 20%;
  color: #D6BC78;
}

#act p {
  margin-left: 20%;
  margin-top: 6%;
  font-size: 14px;
  text-align: justify;
  color: #D6BC78;
}

#act .video {
   background-color: black;
   padding-left: 6.7%;
   padding-top: 50px;
   padding-bottom: 70px;
}

.grid-item img {
  height: 90%;
  width: 90%;
  border-style: ridge;
  border-color: #D6BC78;
  cursor: pointer;
}

.grid-item img:hover {
  opacity: 0.8;
  transition: opacity 0.3s ease-in-out;
}

.grid-item {
  position: relative;
}

.grid-item h3 {
  position: relative;
  bottom: 65px;
  left: 15px;
  letter-spacing: 0.3ch;
  color: #fff;
}

.grid-item p {
  position: relative;
  bottom: 60px;
  left: 15px;
  letter-spacing: 0.3ch;
  color: #fff;
}

/* Algemene opmaak van de footer */
footer {
  background-color: black;
  padding: 30px 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* Opmaak van de linker kolom */
.left-column {
  flex-basis: 200px;
}


/* Opmaak van de middelste kolom */
.middle-column {
  flex-basis: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Opmaak van de social media iconen */
.social-icon {
  display: block;
  width: 30px;
  height: 30px;
  color: white;
  align-items: center;
  line-height: 30px;
}

.social-icon:hover {
  color: #fff;
  transform: scale(1.3);
}

/* Opmaak van de rechter kolom */
.right-column {
  flex-basis: 400px;
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

/* Opmaak van de tekst van de kolommen */
.column p {
  font-size: 14px;
  color: darkgray;
  margin-right: 30px;
}

.column p:hover {
  color: white;
}

/* Opmaak van de copyright-informatie */
.bottom-row {
  width: 100%;
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
  color: #555;
}