/* instellingen */

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

body {
  background-color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
  font-size: 20px;
}

a {
  text-decoration: none;
  color: white;
}

p {
  background-color: white;
  text-align: center;
  color: black;
  font-size: medium;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* hoofding */

header {
  background-color: rgb(241, 36, 36);
  padding: 20px;
}

header img {
  width: 120px;
}

header nav li {
  display: inline-block;
  margin: 10px;
}

header nav a:hover {
  text-decoration-line: underline;
  text-underline-offset: 10px;
  text-decoration-thickness: 3px;
  color: black;
}

i {
  color: white;
  font-size: 20px;
  padding-left: 20px;
}

.videoframe {
  overflow: hidden;
  max-height: 100%;
}

.videoframe .shopnow {
  position: absolute;
  z-index: 2;
  top: 70%;
  left: 44%;
}

video {
  width: 100%;
}

.button {
  background-color: rgb(241, 36, 36);
  color: white;
  font-size: x-large;
  border: none;
  padding: 15px 32px;
}

h2 {
  color: rgb(241, 36, 36);
  padding: 5%;
  text-align: center;
  text-decoration: underline;
  text-underline-offset: 2rem;
}

#AboutUs p {
  padding: 20%;
  padding-top: 0%;
  padding-bottom: 0%;
  text-align: justify;
  text-align-last: center;
}

#membership {
  padding-bottom: 5%;
  padding-left: 5%;
  padding-right: 5%;
}

#membership .bgc-highlights {
  background-color: black;
}

#membership .flex-item {
  padding: 2rem;
}

#membership .bgd-joinus {
  background-image: url("static/svg/supreme\ join\ us.webp");
  background-size: cover;
  background-position: right;
}

#membership p {
  margin-bottom: 2.5em;
  color: white;
  background-color: black;
  text-align: justify ;
  text-align: left;
}

#membership h4 {
color: rgb(241, 36, 36) ;
}

#membership button {
text-align: center;
background-color: rgb(241, 36, 36);
color: white;
border: none;
padding: 2%;
border-radius: 6%;
}

/* vormgeving classes */

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2rem;

}

.align-center {
  align-items: center;
}

.flex-item {
  flex: 1;
  padding: 5%;
}

.flex-item img {
  width: 100%;
}

/* vormgeving footer */

footer {
  padding: 20px;
  background-color: black;
  font-size: 15px;
  color: rgb(241, 36, 36);
}

footer li {
  list-style: none;
  color:rgb(211, 211, 211);
  margin-left: 1ch;
}

footer ul :hover {
color: white; 
cursor: pointer;
}

footer li:first-child {
  color: rgb(241, 36, 36);
  font-size: 1.1rem;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
} 

#socialmedia{
  align-items: center;
  margin-top: 35%;
}

#socialmedia :hover {
  transform: scale(1.1);
}

footer input[type="email"],
footer input[type="submit"] {
  display: block;
  margin-bottom: 10px;
}

footer input[type="email"] {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
  background-color: white;
}

footer input[type="submit"] {
  background-color: rgb(241, 36, 36);
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}