/* instellingen */

* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
body{
    background-color:white;
    font-family: 'Raleway', sans-serif;
    line-height: 1.5;
    font-size: 20px;
}

a{
    text-decoration: none;
    color: white;
}

p{
    background-color: white;
    text-align: center;
    color: black; 
    font-size: medium;
}

/* hoofding */

header{
    background-color:rgb(241, 36, 36);
    padding: 20px;
}
header img{
    width: 120px;
}
header nav li{
    display: inline-block;
    margin: 10px;  
}

header nav a:hover{
    text-decoration-line: none;
    background-color: black;
}

i{
    color: white;
    font-size: 20px;
    padding-left: 20px;
}

.videoframe {
    overflow: hidden;
    max-height: 100%;
  }

  .videoframe .shopnow {
    position: absolute;
    z-index: 2;
    top: 70%;
    left: 44%;
  }
  
  video {
    width: 100%;
  }

button {
width: 12rem;
height: 5rem;
background-color: rgb(241, 36, 36);
color: white;
border-color: black;
font-size: x-large;
}

h2{
    color: rgb(241, 36, 36) ;
    padding: 5%;
    text-align: center;
    border-bottom: solid; 
}


/* vormgeving classes */

.flex-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2rem;

}

.align-center{
align-items: center;
}

.flex-item {
    flex: 1;
    padding: 5%;
}

.flex-item img {
    width: 100%;
}